.p-inputwrapper-filled:not(.p-invalid, .outline-disabled) {
  outline: 2px solid var(--p-success-color) !important;
  border-radius: 4px;
}

.p-error {
  text-align: end !important;
  height: 10px;
}

.p-select {
  width: 100%;
}
